---
layout: layouts/base.njk
templateClass: postlist
---
{% include "includes/section_title.njk" %}

{% if content %}
<section class="intro containerM">
	{{ content | safe }}
</section>
{% endif %}

{% include "includes/section_filtertags.njk" %}

<section class="results containerM">
	<div class="layout-list">
		{% set results = bookmarks %}
		{% include "includes/preview.njk" %}
	</div>
	{# {% include "includes/nav_pagination.njk" %} #}
</section>
