---
layout: layouts/base.njk
templateClass: postlist
pagination:
  data: collections.bookmarks
  size: 10
  alias: bookmarks
  reverse: true
permalink: /lesezeichen/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/
---
<header class="header containerM">
  <h1 class="title">{{ title }}</h1>
</header>

<section class="filter containerM">
	<h2 class="sectionTitle">Nach einem Schlagwort filtern</h2>
	<ul class="tagList">
		{% for tag in collections[collection] | getAllTags | sortTagList | excludeTagsFromTagList %}
		{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
			<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
		{% endfor %}
	</ul>
</section>

<section class="results containerM">
	<div class="list">
		{% set results = bookmarks %}
		{% include "includes/preview.njk" %}
	</div>
	{% include "includes/nav_pagination.njk" %}
</section>

