---
layout: layouts/base.njk
templateClass: home
---
<div class="headerShadow">
	<section class="hero">
		<div class="heroContainer">
			<div class="intro animate__animated animate__fadeInUp">
				<h1>{{ title }}</h1>
				{{ content | safe }}
				<ul class="socialList">
					<li>
						<a href="https://www.linkedin.com/in/stefan-brechbuehl/">
							<img src="/assets/img/linkedin.svg" alt="{{ i18n.imgAlt.linkedinIcon[page.lang] }}" width="40px" eleventy:widths="40,80" sizes="100vw">
						</a>
					</li>
					<li>
						<a rel="me" href="https://www.github.com/stebrech/">
							<img src="/assets/img/github.svg" alt="{{ i18n.imgAlt.githubIcon[page.lang] }}" width="40px" eleventy:widths="40,80" sizes="100vw">
						</a>
					</li>
					<li>
						<a rel="me" href="{{ i18n.links.mastodon[page.lang] }}">
							<img src="/assets/img/mastodon.svg" alt="{{ i18n.imgAlt.mastodonIcon[page.lang] }}" width="40px" eleventy:widths="40,80" sizes="100vw">
						</a>
					</li>
				</ul>
			</div>
			<p class="profilePic animate__animated animate__jackInTheBox animate__delay-1s">
				<img src="/assets/img/Stefan.jpg" alt="{{ i18n.imgAlt.profilePic[page.lang] }}" width="140px" eleventy:widths="140,280" sizes="100vw">
			</p>
		</div>
		<div class="bgimage">
			<img src="/assets/img/ffflux.svg" alt="" width="700px" eleventy:widths="700,1400" sizes="100vw">
		</div>
	</section>
</div>
<section class="results containerL">
	<h2 class="sectionTitle">{{ i18n.headings.projects[page.lang] }}</h2>
	<div class="layout-cards">
		{% set results = collections[collectionProjects] | reverse | limit(3) %}
		{% include "includes/preview.njk" %}
	</div>
</section>
<section class="results containerL">
	<h2 class="sectionTitle">{{ i18n.headings.blog[page.lang] }}</h2>
	<div class="layout-cards">
		{% set results = collections[collectionBlog] | reverse | limit(3) %}
		{% include "includes/preview.njk" %}
	</div>
</section>