---
layout: layouts/base.njk
templateClass: home
---
<div class="headerShadow">
	<section class="hero">
		<div class="heroContainer">
			<div class="intro animate__animated animate__fadeInUp">
				<h1>{{ title }}</h1>
				{{ content | safe }}
				<ul class="socialList">
					<li>
						<a href="https://www.linkedin.com/in/stefan-brechbuehl/">
							<div class="socialIcon">
								{% image "assets/img/linkedin.svg", i18n.imgAlt.linkedinIcon[page.lang], [60px] %}
							</div>
						</a>
					</li>
					<li>
						<a rel="me" href="https://www.github.com/stebrech/">
							<div class="socialIcon">
								{% image "assets/img/github.svg", i18n.imgAlt.githubIcon[page.lang], [60px] %}
							</div>
						</a>
					</li>
					<li>
						<a rel="me" href="{{ i18n.links.mastodon[page.lang] }}">
							<div class="socialIcon">
								{% image "assets/img/mastodon.svg", i18n.imgAlt.mastodonIcon[page.lang], [60px] %}
							</div>
						</a>
					</li>
				</ul>
			</div>
			<p class="profilePic animate__animated animate__jackInTheBox animate__delay-1s">
				{% image "assets/img/Stefan.jpg", i18n.imgAlt.profilePic[page.lang] %}
			</p>
		</div>
		<div class="bgimage">
			{% image "assets/img/ffflux.svg", "", [700], "(min-width: 700px) 700px, 100vw", "eager" %}
		</div>
	</section>
</div>
<section class="results containerL">
	<h2 class="sectionTitle">{{ i18n.headings.projects[page.lang] }}</h2>
	<div class="layout-cards">
		{% set results = collections[collectionProjects] | reverse | limit(3) %}
		{% include "includes/preview.njk" %}
	</div>
</section>
<section class="results containerL">
	<h2 class="sectionTitle">{{ i18n.headings.blog[page.lang] }}</h2>
	<div class="layout-cards">
		{% set results = collections[collectionBlog] | reverse | limit(3) %}
		{% include "includes/preview.njk" %}
	</div>
</section>