---
layout: layouts/base.njk
templateClass: postlist
---
<header class="header containerM">
  <h1 class="title">{{ title }}</h1>
</header>

{% if content %}
<section class="intro containerM">
	{{ content | safe }}
</section>
{% endif %}

<section class="filter containerM">
	<h2 class="sectionTitle">Nach einem Schlagwort filtern</h2>
	<ul class="tagList">
		{% for tag in collections[collection] | getAllTags | sortTagList | excludeTagsFromTagList %}
		{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
			<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
		{% endfor %}
	</ul>
</section>

<section class="results containerL">
  <div class="cards">
		{% set results = collections[collection] | reverse %}
		{% include "includes/preview.njk" %}
	</div>
</section>