---
layout: layouts/base.njk
templateClass: postlist
---
{% include "includes/section_title.njk" %}

{% if content %}
<section class="intro containerM">
	{{ content | safe }}
</section>
{% endif %}

{% include "includes/section_filtertags.njk" %}

<section class="results containerL">
  <div class="cards">
		{% set results = collections[collection] | reverse %}
		{% include "includes/preview.njk" %}
	</div>
</section>