---
layout: layouts/base.njk
templateClass: taglist
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog_de
    - blog_en
    - bookmarks_de
    - bookmarks_en
    - featuredProjectsDe
    - featuredProjectsEn
    - feed
    - feed_en
    - pages_de
    - pages_en
    - projects_de
    - projects_en
---
<header class="header containerM">
  <h1 class="title">#{{ tag }}</h1>
</header>

{% set results = collections[ tag ] | reverse | localizedTag(page.lang) %}
<section class="results containerM{% if results.length === 0 %} hidden{% endif %}">
	<h2 class="sectionTitle">{{ i18n.headings.tagContent[page.lang] }} <code>#{{ tag }}</code></h2>
	<div class="layout-list">
    {% include "includes/preview.njk" %}
  </div>
</section>