---
layout: layouts/base.njk
templateClass: taglist
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - bookmarks
    - feed
    - pages
    - projects
    - featuredProjects
    - posts
permalink: /tags/{{ tag }}/
---
<header class="header containerM">
  <h1 class="title">#{{ tag }}</h1>
</header>

{% set results = collections[ tag ] | reverse %}
<section class="results containerM{% if results.length === 0 %} hidden{% endif %}">
	<h2 class="sectionTitle">Alle Inhalte mit dem Schlagwort <code>#{{ tag }}</code></h2>
	<div class="list">
    {% include "includes/preview.njk" %}
  </div>
</section>