<article data-pagefind-body>
	<div class="headerShadow">
		<header class="headerPost">
			<div class="containerM">
				<h1 class="title"{% if post.data.lang === "en" %} lang="en"{% endif %}>
					{{ title }}
				</h1>
				{% if featuredImage %}
					<div class="featuredImage">
						{% image featuredImage, "" %}
					</div>
				{% endif %}
			</div>
		</header>
	</div>
	<div class="containerL">
		<div class="contentContainer">
			<div class="content"{% if post.data.lang === "en" %} lang="en"{% endif %}>
				{% if description %}
					<div class="lead">
						{{ description | markdown | safe }}
					</div>
				{% endif %}
				{{ content | safe }}
			</div>
			<footer class="metadata">
				{% if date %}<p>{% if collection === "bookmarks" %}Gefunden am:{% else %}Publiziert am:{% endif %} {{ date | readableDate }}</p>{% endif %}
				{% if updated %}<p>Aktualisiert am: {{ updated | readableDate }}</p>{% endif %}
				{% if author %}<p>Autor: {{ author }}</p>{% endif %}
				{% if tags.length > 1 %}
					<h2>Tags</h2>
					<ul class="tags">
						{%- for tag in tags | excludeTagsFromTagList %}
							{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
							<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
						{%- endfor %}
					</ul>
				{% endif %}
				{% if timeToRead %}
					<h2>Ungefähre Lesezeit</h2>
					<p>{{ timeToRead }} Minuten</p>
				{% endif %}
				{% if lang %}
					<h2>Sprache</h2>
					<p>{% if lang === "en" %}Englisch{% elif lang === "de" %}Deutsch{% endif %}</p>
				{% endif %}
				{% if weblink %}
					<p class="weblink"><a href={{ weblink }}>Zur Website</a></p>
				{% endif %}
				<hr>
				<h2>Newsletter abonnieren</h2>
				{% include "./form_newsletter.njk" %}
				<hr>
				<h2>RSS-Feed abonnieren</h2>
				<ul>
					<li><a href="https://stebre.ch/feed.xml">Alle Beiträge</a></li>
					<li><a href="https://stebre.ch/feed_posts.xml">Blogbeiträge</a></li>
					<li><a href="https://stebre.ch/feed_projects.xml">Arbeiten</a></li>
					<li><a href="https://stebre.ch/feed_bookmarks.xml">Lesezeichen</a></li>
				</ul>
			</footer>
		</div>
	</div>
</article>
