<article data-pagefind-body>
	<div class="headerShadow">
		<header class="headerPost">
			<div class="containerM">
				<h1 class="title"{% if (page.lang !== "en") and (post.data.lang === "en") %} lang="en"{% endif %}>
					{{ title }}
				</h1>
				{% if featuredImage %}
					<div class="featuredImage">
						{% image featuredImage, "" %}
					</div>
				{% endif %}
			</div>
		</header>
	</div>
	<div class="containerL">
		<div class="contentContainer">
			<div class="content"{% if (page.lang !== "en") and (post.data.lang === "en") %} lang="en"{% endif %}>
				{% if description %}
					<div class="lead">
						{{ description | markdown | safe }}
					</div>
				{% endif %}
				{{ content | safe }}
			</div>
			<footer class="metadata">
				<p>{% if postType === "bookmarks" %}{{ i18n.article.metadata.bookmarkFound[page.lang] }}{% else %}{{ i18n.article.metadata.publishDate[page.lang] }}{% endif %} <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>
				{% if updated %}<p>{{ i18n.article.metadata.lastUpdate[page.lang] }} {{ updated | readableDate }}</p>{% endif %}
				{% if author %}<p>{{ i18n.article.metadata.author[page.lang] }} {{ author }}</p>{% endif %}
				{% if tags.length > 1 %}
					<h2>Tags</h2>
					<ul class="tags">
						{%- for tag in tags | excludeTagsFromTagList %}
							{%- set tagUrl %}{% if page.lang === "en" %}/en{% endif %}/tags/{{ tag | slugify }}/{% endset %}
							<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
						{%- endfor %}
					</ul>
				{% endif %}
				{% if timeToRead %}
					<h2>{{ i18n.article.metadata.timeToRead[page.lang] }}</h2>
					<p>{{ timeToRead }} {{ i18n.article.metadata.minutes[page.lang] }}</p>
				{% endif %}
				{% if bookmarkLang %}
					<h2>{{ i18n.article.metadata.language[page.lang] }}</h2>
					<p>{% if bookmarkLang === "en" %}{{ i18n.article.metadata.language.english[page.lang] }}{% elif bookmarkLang === "de" %}{{ i18n.article.metadata.language.german[page.lang] }}{% endif %}</p>
				{% endif %}
				{% if weblink %}
					<p class="weblink"><a href={{ weblink }}>{{ i18n.article.metadata.weblink[page.lang] }}</a></p>
				{% endif %}
				{% if page.lang === "de" %}
				<hr>
				<h2>Newsletter abonnieren</h2>
				{% include "./form_newsletter.njk" %}
				{% endif %}
				<hr>
				<h2>{{ i18n.article.metadata.subscribe2feed[page.lang] }}</h2>
				<ul>
					<li><a href="{{ i18n.article.metadata.subscribe2feed.all.url[page.lang] }}">{{ i18n.article.metadata.subscribe2feed.all[page.lang] }}</a></li>
					<li><a href="{{ i18n.article.metadata.subscribe2feed.blog.url[page.lang] }}">{{ i18n.article.metadata.subscribe2feed.blog[page.lang] }}</a></li>
					<li><a href="{{ i18n.article.metadata.subscribe2feed.projects.url[page.lang] }}">{{ i18n.article.metadata.subscribe2feed.projects[page.lang] }}</a></li>
					<li><a href="{{ i18n.article.metadata.subscribe2feed.bookmarks.url[page.lang] }}">{{ i18n.article.metadata.subscribe2feed.bookmarks[page.lang] }}</a></li>
				</ul>
			</footer>
		</div>
	</div>
</article>
