<meta property="og:title" content="{{ title }} | {{ metadata.title }}"/>
<meta property="og:description" content="{{ description | removeMarkdown or metadata.description[page.lang] }}"/>
{% if featuredImage %}
	<meta property="og:image" content="{{ metadata.url }}/{{ featuredImage | featuredImageOgLink }}"/>
{% else %}
	<meta property="og:image" content="{{ metadata.url }}/assets/img/stebrech.png"/>
{% endif %}
<meta property="og:url" content="{{ metadata.url }}{{ page.url }}"/>
<meta property="og:site_name" content="{{ metadata.title }}"/>
<meta property="og:type" content="website"/>
<meta name="author" content="{{ metadata.author.name }}"/> 