{% for post in results %}
	<div class="animate__wrapper animate__animated">
		<article class="postPreview">
				<div class="postPreview_container">
					<h3 class="postPreview_title"{% if (page.lang !== "en") and (post.data.lang === "en") %} lang="en"{% endif %}>
						<a href="{{ post.url }}" class="postPreview_link">{{ post.data.title }}</a>
					</h3>
					<footer class="postPreview_metadata">
						<p>{% if post.data.postType === "bookmarks" %}{{ i18n.article.metadata.bookmarkFound[page.lang] }}{% else %}{{ i18n.article.metadata.publishDate[page.lang] }}{% endif %} <time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate }}</time>{% if post.data.updated %}<br>{{ i18n.article.metadata.lastUpdate[page.lang] }} <time datetime="{{ post.data.updated | htmlDateString }}">{{ post.data.updated | readableDate}}</time>{% endif %}</p>
						<ul>
						{% if templateClass === "taglist" %}
							{% if post.data.postType === "bookmarks" %}
								<li class="postPreview_tag bookmarks">{{ i18n.mainnav.bookmarks[page.lang] }}</li>
							{% elif post.data.postType === "projects" %}
								<li class="postPreview_tag projects">{{ i18n.mainnav.projects[page.lang] }}</li>
							{% elif post.data.postType === "blog" %}
								<li class="postPreview_tag posts">{{ i18n.mainnav.bookmarks[page.lang] }}</li>
							{% endif %}
						{% endif %}
						{% if (page.lang !== "en") and (post.data.bookmarkLang === "en") %}
							<li class="postPreview_tag lang">EN</li>
						{% endif %}
						{% for tag in post.data.tags | excludeTagsFromTagList %}
							<li class="postPreview_tag">#{{ tag }}</a>
						{% endfor %}
						</ul>
					</footer>
					<div class="postPreview_excerpt">
						{{ post.data.description | markdown | safe }}
					</div>
				</div> 
				{% if post.data.featuredImage %}
					<div class="postPreview_featuredImage">
						<div class="container">
						{% image post.data.featuredImage, "" %}
						</div>
					</div>
				{% endif %}
		</article>
	</div>
{% endfor %}