---
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<url>
		<loc>{{ homepage }}</loc>
		<lastmod>{{ helpers.currentDate() | htmlDateString }}</lastmod>
		<changefreq>{{ item.data.sitemapChangefreq | default("monthly") }}</changefreq>
		<priority>{{ item.data.sitemapPriority | default(1.0) }}</priority>
	</url>
{%- for item in collections[collection_blog] | reverse %}
	<url>
		<loc>{{ metadata.url }}{{ item.url }}</loc>
		<lastmod>{{ item.date | htmlDateString }}</lastmod>
		<changefreq>{{ item.data.sitemapChangefreq | default("monthly") }}</changefreq>
		<priority>{{ item.data.sitemapPriority | default(0.8) }}</priority>
	</url>
{%- endfor -%}
{%- for item in collections[collection_projects] | reverse %}
	<url>
		<loc>{{ metadata.url }}{{ item.url }}</loc>
		<lastmod>{{ item.date | htmlDateString }}</lastmod>
		<changefreq>{{ item.data.sitemapChangefreq | default("monthly") }}</changefreq>
		<priority>{{ item.data.sitemapPriority | default(0.8) }}</priority>
	</url>
{%- endfor -%}
{%- for item in collections[collection_bookmarks] | reverse %}
	<url>
		<loc>{{ metadata.url }}{{ item.url }}</loc>
		<lastmod>{{ item.date | htmlDateString }}</lastmod>
		<changefreq>{{ item.data.sitemapChangefreq | default("monthly") }}</changefreq>
		<priority>{{ item.data.sitemapPriority | default(0.4) }}</priority>
	</url>
{%- endfor -%}
{%- for item in collections[collection_pages] %}
	<url>
		<loc>{{ metadata.url }}{{ item.url }}</loc>
		<lastmod>{{ item.date | htmlDateString }}</lastmod>
		<changefreq>{{ item.data.sitemapChangefreq | default("monthly") }}</changefreq>
		<priority>{{ item.data.sitemapPriority | default(0.4) }}</priority>
	</url>
{%- endfor %}
</urlset>