<nav id="mainnav" role="navigation" aria-label="Hauptmenü" labeledby="mainmenu">
	<ul id="mainmenu" class="visible">
		<li class="logo">
			<a href="/">
				{% image "src/assets/img/logo-stebre.svg", "Startseite {{ metadata.title }}", [375, 750], [100vw] %}
			</a>
		</li>
		{%- for entry in collections.all | eleventyNavigation %}
			<li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
		{%- endfor %}
	</ul>
</nav>