<!doctype html>
<html lang="de" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% if templateClass !== "home" %}{{ title or tag }} | {% endif %}{{ metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed.json" type="application/json" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed_projects.xml" type="application/atom+xml" title="Arbeiten | {{ metadata.title }}">
		<link rel="alternate" href="/feed_projects.json" type="application/json" title="Arbeiten | {{ metadata.title }}">
		<link rel="alternate" href="/feed_posts.xml" type="application/atom+xml" title="Blogbeiträge | {{ metadata.title }}">
		<link rel="alternate" href="/feed_posts.json" type="application/json" title="Blogbeiträge | {{ metadata.title }}">

		{#- Stylesheets #}
		{% set css %}
			{% include "assets/styles/reset.css" %}
			{% include "assets/styles/accessibility.css" %}
			{% include "assets/styles/layout.css" %}
			{% include "assets/styles/elements.css" %}
			{% if templateClass === "home" or templateClass === "postlist" %}
				{% include "assets/styles/post_preview.css" %}
			{% endif %}
			{% if templateClass === "home" %}
				{% include "assets/styles/home.css" %}
			{% endif %}
		{% endset %}
		<style>
			{{ css | cssmin | safe }}
		</style>
		<link rel="stylesheet" href="/pagefind/pagefind-ui.css">
		<link rel="stylesheet" href="/assets/styles/animate.min.css">

		{#- Scripts #}
		<script src="/assets/js/animateInViewport.js" defer></script>
		<script src="/assets/js/search.js" defer></script>
		<script src="/pagefind/pagefind-ui.js" defer></script>
		<script>
				window.addEventListener('DOMContentLoaded', (event) => {
						new PagefindUI({ element: "#search", showSubResults: true });
				});
		</script>

		{#- Favicons #}
		{% include "partials/favicon.njk" %}

		{#- Open Graph #}
		{% include "partials/og.njk" %}

		{#- Love for 11ty #}
		<meta name="generator" content="{{ eleventy.generator }}">

	</head>
	<body class="{% if templateClass %}{{ templateClass }}{% endif %}">
		<div class="site">
			<a href="#primary" class="skip_link screen-reader-text">Zum Inhalt springen</a>

			<header class="site_header" role="banner">
				{% include "partials/nav_main.njk" %}
				<button id="search-icon" aria-label="Search">
					{% image "assets/img/search.svg", "Search Icon" %}
				</button>
			</header>

			<main id="primary" class="site_main">
				<div id="search-container" class="containerM screen-reader-text" aria-hidden="true">
					<div id="search"></div>
					<div id="search-close-container">
						<button id="search-close" aria-label="Schliessen">Suche schliessen</button>
					</div>
				</div>
				{{ content | safe }}
			</main>

			{% include "partials/footer.njk" %}

		</div>

	</body>
</html>


