---
layout: base.njk
templateClass: home
---
<div class="headerShadow">
	<section class="hero">
		<div class="heroContainer">
			<div class="intro animate__animated animate__fadeInUp">
				<h1>{{ title }}</h1>
				{{ content | safe }}
				<ul class="socialList">
					<li>
						<a href="https://www.linkedin.com/in/stefan-brechbuehl/">
							<div class="socialIcon">
								{% image "assets/img/linkedin.svg", "LinkedIn Profil", [60px] %}
							</div>
						</a>
					</li>
					<li>
						<a href="https://www.github.com/stebrech/">
							<div class="socialIcon">
								{% image "assets/img/github.svg", "Github Profil", [60px] %}
							</div>
						</a>
					</li>
					<li>
						<a rel="me" href="https://mastodontech.de/@stebre">
							<div class="socialIcon">
								{% image "assets/img/mastodon.svg", "Mastodon Profil", [60px] %}
							</div>
						</a>
					</li>
				</ul>
			</div>
			<p class="profilePic animate__animated animate__jackInTheBox animate__delay-1s">
				{% image "assets/img/Stefan.jpg", "Foto von mir." %}
			</p>
		</div>
		<div class="bgimage">
			{% image "assets/img/ffflux.svg", "" %}
		</div>
	</section>
</div>
<section class="results containerL">
	<h2 class="sectionTitle">Ausgewählte Arbeiten</h2>
	<div class="cards">
		{% set results = collections.featuredProjects | reverse | limit(3) %}
		{% include "partials/preview.njk" %}
	</div>
</section>
<section class="results containerL">
	<h2 class="sectionTitle">Neuste Blogartikel</h2>
	<div class="cards">
		{% set results = collections.posts | reverse | limit(3) %}
		{% include "partials/preview.njk" %}
	</div>
</section>