.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--size-s);
  margin-top: auto;
  padding: var(--size-xxl) var(--size-m) var(--size-m);
}

@media screen and (min-width: 40rem) {
  .footer {
    flex-direction: row;
  }
}
