.headerPost {
  background-color: var(--color-primary);
  background-image: url(../images/ffflux.svg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% + -4vw), 0 100%);
}

.headerPost .title {
  color: #fff;
}

.title {
  margin-top: 5rem;
}

.tagInTitle,
.categoryInTitle {
  background-color: #fff;
  border: 1px solid var(--color-gray-dark);
  padding: 0 var(--size-s) var(--size-xs);
}

.subtitle {
  margin-top: var(--size-xxl);
}

.tagList {
  display: flex;
  flex-wrap: wrap;
}

.tagList li {
  list-style-type: none;
  margin-right: var(--size-m);
}

.featuredImage {
  margin-top: var(--size-xxl);
  margin-bottom: -1rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: var(--size-xxl);
}

@media screen and (min-width: 60rem) {
  .content {
    font-size: var(--size-l);
  }
}

@media screen and (min-width: 60rem) {
  .contentContainer {
    flex-direction: row;
  }

  .content {
    margin-right: var(--size-m);
    max-width: 70ch;
  }
}

.content > :first-child {
  margin-top: 0;
}

.metadata {
  border-top: 1px solid var(--color-gray);
  margin-top: var(--size-xxl);
  min-width: 25%;
  padding-top: var(--size-l);
}

@media screen and (min-width: 60rem) {
  .metadata {
    border: none;
    margin-top: calc(var(--size-l) - var(--size-m));
    margin-left: calc(2 * var(--size-xxl));
    padding-top: 0;
  }
}

.metadata p {
  margin-top: 0;
}

.metadata h2 {
  font-size: 1em;
  margin-top: var(--size-xl);
}

p.weblink {
  margin-top: var(--size-m);
}

.tags li {
  list-style-type: none;
  margin-top: 0;
}

.tagIcon,
.linkIcon {
  height: 1.5em;
  margin-left: -1.5em;
  vertical-align: bottom;
  width: 1.5em;
}