<footer class="site_footer">
	<nav class="footer_nav" role="navigation" aria-label="Footermenü" labeledby="footermenu">
		<ul id="footermenu">
			<li><a href="/impressum">Impressum</a></li>
			<li><a href="/datenschutz">Datenschutz</a></li>
		</ul>
	</nav>
	<small>
		&copy; {{ helpers.currentYear() }} {{ metadata.title }} <span class"dot">&middot;</span>
		Website realisiert mit <a href="https://www.11ty.dev/">11ty</a> und 
		<a href="https://www.netlify.com/">Netlify</a>
	</small>
</footer>