:root {
	--border-radius: 4px;
	--color-gray-lighter: #ecf0f1;
	--color-gray-light: #ced4da;
	--color-gray: #838f9c;
	--color-gray-dark: #586069;
	--color-text: #2b3d4f;
	--color-primary-light: #cdedfe;
	--color-primary: #0288d1;
	--color-primary-dark: #0277bd;
	--color-primary-darker: #006199;
	--color-secondary-light: #fdd835;
	--color-secondary: #f9a825;
	--color-secondary-dark: #d1a717;
	--color-secondary-darker: #d14a17;
	--font-sans: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
		sans-serif;
	--font-mono: "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
	--size-xxl: 1.75rem;
	--size-xl: 1.5rem;
	--size-l: 1.25rem;
	--size-m: 1rem;
	--size-s: 0.75rem;
	--size-xs: 0.5rem;
	--size-xxs: 0.25rem;
	--line-height-loose: 1.75;
	--line-height-normal: 1.5;
	--line-height-dense: 1.2;
	--line-thickness: 0.15rem;
	--button-height: 3rem;
	--header-height: calc(var(--size-s) * 2 + var(--button-height));
}

@font-face {
	font-family: "Fira Sans";
	src:
		local("Fira Sans Regular"),
		local("FiraSans-Regular"),
		url("/assets/fonts/FiraSans-Regular.woff2") format("woff2"),
		url("/assets/fonts/FiraSans-Regular.woff") format("woff"),
		url("/assets/fonts/FiraSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Fira Sans";
	src:
		local("Fira Sans Italic"),
		local("FiraSans-Italic"),
		url("/assets/fonts/FiraSans-Italic.woff2") format("woff2"),
		url("/assets/fonts/FiraSans-Italic.woff") format("woff"),
		url("/assets/fonts/FiraSans-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Fira Sans";
	src:
		local("Fira Sans Bold"),
		local("FiraSans-Bold"),
		url("/assets/fonts/FiraSans-Bold.woff2") format("woff2"),
		url("/assets/fonts/FiraSans-Bold.woff") format("woff"),
		url("/assets/fonts/FiraSans-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Fira Sans";
	src:
		local("Fira Sans Bold Italic"),
		local("FiraSans-BoldItalic"),
		url("/assets/fonts/FiraSans-BoldItalic.woff2") format("woff2"),
		url("/assets/fonts/FiraSans-BoldItalic.woff") format("woff"),
		url("/assets/fonts/FiraSans-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Fira Code";
	src:
		local("Fira Code Regular"),
		local("FiraCode-Regular"),
		url("/assets/fonts/FiraCode-Regular.woff2") format("woff2"),
		url("/assets/fonts/FiraCode-Regular.woff") format("woff"),
		url("/assets/fonts/FiraCode-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Fira Code";
	src:
		local("Fira Code Bold"),
		local("FiraCode-Bold"),
		url("/assets/fonts/FiraCode-Bold.woff2") format("woff2"),
		url("/assets/fonts/FiraCode-Bold.woff") format("woff"),
		url("/assets/fonts/FiraCode-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

html {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	font: sans-serif;
	line-height: var(--line-height-normal);
	overflow-y: scroll;
	scroll-behavior: smooth;
}

@media screen and (min-width: 60rem) {
	html {
		font-size: 1.125em;
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: var(--color-gray-lighter);
	color: var(--color-text);
	font-family: sans-serif;
	font-family: var(--font-sans);
	font-weight: var(--font-weight-normal);
	margin: 0;
	word-wrap: break-word;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Header */

.site_header {
	align-items: center;
	background-color: rgba(0, 97, 153, 0.95);
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: var(--size-s);
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.site_header .right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	z-index: -1;
}

#logo {
	fill: #fff;
}

a:hover #logo {
	fill: url(#logoGradient) var(--color-secondary);
}

/* Mobile Navigation */

.open-btn,
.close-btn {
	--button-color-bg: #fff;
	--button-color-shadow: var(--color-text);
	margin-top: 0;
}

@media (width >= 40rem) {
	.site_header .open-btn,
	.site_header .close-btn {
		display: none;
	}
}

.open-btn {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: var(--size-xxs) var(--size-xs);
	width: 100%;
}

.open-btn svg path {
	fill: var(--color-secondary);
}

.open-btn:hover svg path {
	fill: #fff;
}

.open-btn[aria-expanded="true"] + .menu-container {
	translate: 0;
}

@media (prefers-reduced-motion) {
	.open-btn[aria-expanded="true"] + .menu-container {
		opacity: 1;
	}
}

.close-btn {
	display: block;
	margin-inline-start: auto;
	margin-block-end: 8rem;
}

.open-btn svg {
	margin-right: 0.25rem;
}
.open-btn svg,
.close-btn svg {
	width: 2rem;
}

.open-btn-txt {
	font-size: var(--size-l);
	font-weight: var(--font-weight-bold);
	margin-left: 0.25rem;
}

@media (width < 40rem) {
	.menu-container {
		position: fixed;
		inset: 0;
		padding: var(--size-m);
		background-color: var(--color-primary-dark);
		translate: 100vw 0;
		transition: translate 0.3s ease-in-out;
	}
}
@media (width < 40rem) and (prefers-reduced-motion) {
	.menu-container {
		translate: 0;
		opacity: 0;
		transition: opacity 500ms ease-in-out;
	}
}

@media (width < 40rem) {
	.menu-links {
		align-items: center;
		flex-direction: column;
		gap: 1rem;
	}
}

.menu-links {
	justify-content: center;
}

/* Navigation & Pagination */

nav ul,
nav ol {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.nav-item {
	list-style-type: none;
	margin: 0 var(--size-xs) 0 0;
}

.metadata .weblink {
	margin-top: calc(var(--size-m) * 2);
}

.nav-item a,
.weblink a {
	align-items: center;
	display: flex;
	height: var(--button-height);
	line-height: var(--line-height-dense);
}

.nav-item:not(.logo) a,
.weblink a {
	background-color: var(--color-nav-item-bg, --color-gray-lighter);
	border-radius: var(--border-radius);
	color: var(--color-nav-item-text);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	padding: 0 var(--size-s);
}

#mainnav .nav-item a {
	--color-nav-item-bg: #fff;
	--color-nav-item-text: var(--color-primary-dark);
}

#pagination .nav-item a {
	--color-nav-item-text: var(--color-secondary);
	border: var(--line-thickness) solid var(--color-secondary);
	padding: 0 var(--size-m);
}

.weblink a {
	--color-nav-item-bg: var(--color-primary);
	--color-nav-item-text: #fff;
}

/* .nav-item:not(.logo) a:hover, */
.nav-item a:hover,
.weblink a:hover {
	border-color: transparent;
	color: var(--color-text);
}

.nav-item.nav-item-active a,
.nav-item a[aria-current="page"] {
	background-color: var(--color-secondary);
}

.nav-item.nav-item-active a {
	color: var(--color-text);
}

.nav-item a[aria-current="page"] {
	border-color: var(--color-secondary);
	color: var(--color-gray-lighter);
}

.nav-item:not(.logo) a::before,
.weblink a::before {
	background: var(--color-secondary);
	background: linear-gradient(0deg, var(--color-secondary) 0%, var(--color-secondary-light) 100%);
	border-radius: var(--border-radius);
	content: "";
	display: inline-block;
	height: 0;
	left: 0;
	position: absolute;
	transition: all 0.2s ease;
	top: 100%;
	width: 100%;
	z-index: -1;
}

#pagination .nav-item a::before {
	border-radius: 0;
}

a:not(:focus)::before {
	height: 0;
}

.nav-item a:hover::before,
.weblink a:hover::before {
	height: 100%;
	top: 0%;
}

#pagination {
	display: flex;
	margin-top: var(--size-xxl);
}

#pagination ol {
	margin: var(--size-xxl) 0 0 0;
}

/* Lang switcher */
#lang-switcher {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}
.lang-switch {
	border: 1px solid transparent;
	list-style-type: none;
	margin: 0;
}

.lang-switch a {
	color: #fff;
	padding: var(--size-xxs) var(--size-xs);
}

.lang-switch.current {
	/* background-color: var(--color-primary-dark); */
	border-left: 1px solid var(--color-primary-dark);
	border-top: 1px solid var(--color-primary-darker);
	border-right: 1px solid var(--color-primary-darker);
	border-bottom: 1px solid var(--color-primary-dark);
	border-radius: var(--border-radius);
	box-shadow: inset calc(var(--size-xxs) / 2) calc(var(--size-xxs) / 2) var(--size-xs)
		rgba(0, 0, 0, 0.2);
}

.lang-switch.current a {
	text-decoration: none;
}

/* Search form */
body {
	--pagefind-ui-scale: 1;
	--pagefind-ui-primary: var(--color-secondary);
	--pagefind-ui-text: var(--color-text);
	--pagefind-ui-background: #fff;
	--pagefind-ui-border: var(--color-gray-light);
	--pagefind-ui-tag: var(--color-gray-dark);
	--pagefind-ui-border-width: 1px;
	--pagefind-ui-border-radius: var(--border-radius);
	--pagefind-ui-image-border-radius: var(--border-radius);
	--pagefind-ui-image-box-ratio: 3 / 2;
	--pagefind-ui-font: var(--font-sans);
}

#search-icon {
	background-color: transparent;
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
}

#search-icon img {
	margin: 0;
}

#search-container {
	background-color: transparent;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr fit-content(12ch);
	margin: calc(var(--header-height) * 1.5) auto calc(var(--header-height) * 0.75);
}

#search {
	font-family: var(--font-sans);
}

#search .pagefind-ui__search-input {
	border: 0;
	border-top: 1px solid var(--color-gray-light);
	border-left: 1px solid var(--color-gray-light);
	font-weight: var(--font-weight-normal);
}

#search .pagefind-ui__form::before,
#search .pagefind-ui__search-clear {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	justify-content: center;
	z-index: 99;
}

#search .pagefind-ui__form::before {
	background-color: transparent;
	content: url(/assets/img/search_dark.svg);
	height: 3rem;
	mask: none;
	position: absolute;
	top: 0;
}

#search .pagefind-ui__search-clear {
	height: 2.8rem;
	padding: 0 var(--size-s);
}

#search-close {
	margin-top: 0;
	padding: var(--size-xs) var(--size-s);
	white-space: nowrap;
}

#search .pagefind-ui__search-input {
	height: 3rem;
}

#search .pagefind-ui__result-thumb {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 0;
}

#search .pagefind-ui__result-thumb img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

#search .pagefind-ui__result-inner {
	margin-top: 0;
}

#search .pagefind-ui__result {
	padding: calc(20px * var(--pagefind-ui-scale)) 0 calc(20px * var(--pagefind-ui-scale));
}

#search .pagefind-ui__button {
	background-color: var(--color-secondary);
	color: var(--color-text);
	font-size: 1rem;
	height: 3rem;
	line-height: var(--line-height-normal);
}

/* Newsletter */

.newsletter {
	display: flex;
	flex-direction: column;
}

/* Layout classes */

.layout-cards {
	display: grid;
	margin: 0;
	/* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
	--w: 30ch;
	--n: 3;
	gap: var(--size-xxl);
	grid-template-columns: repeat(auto-fill, minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr));
	margin-bottom: var(--size-xxl);
	margin-top: var(--size-xxl);
}

.layout-list {
	display: grid;
	gap: var(--size-xxl);
	margin-bottom: var(--size-xxl);
	margin-top: var(--size-xxl);
}

.containerM,
.containerL {
	margin: 0 auto;
	padding: 1em var(--size-l) 0;
}

.containerM {
	max-width: 60rem;
}

.containerL {
	max-width: 75rem;
}

header.containerL,
header.containerM {
	padding-top: var(--header-height);
}

/* Home, Blog, Tags, ... */

.header .title {
	margin-top: 2rem;
}

.filter h2 {
	margin-top: var(--size-xl);
}

.header + .results h2 {
	margin-top: 0;
}

.tagList {
	display: flex;
	flex-wrap: wrap;
}

.tagList li {
	list-style-type: none;
	margin-right: var(--size-m);
}

/* Post, Page */

.lead {
	font-weight: var(--font-weight-bold);
}

.lead > :first-child {
	margin-top: 0;
}

.headerShadow {
	filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.2));
}

.headerShadow .containerL {
	padding-bottom: 4rem;
}

.headerPost {
	background-color: var(--color-primary);
	background-size: cover;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% + -4vw), 0 100%);
	padding-top: var(--header-height);
}

.headerPost .title {
	color: #fff;
}

@media screen and (min-width: 60rem) {
	.headerPost .title {
		margin-top: 1rem;
	}
}

.featuredImage {
	margin-top: var(--size-xxl);
	margin-bottom: -1.25rem;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: var(--size-xxl);
}

@media screen and (min-width: 60rem) {
	.intro,
	.contentContainer > .content {
		font-size: var(--size-l);
	}
}

@media screen and (min-width: 75rem) {
	.containerL .contentContainer {
		flex-direction: row;
	}

	.contentContainer > .content {
		margin-right: var(--size-m);
		max-width: 70%;
	}
}

.intro > :first-child,
.contentContainer > .content > :first-child {
	margin-top: 0;
}

.metadata {
	border-top: 1px solid var(--color-gray);
	margin-top: var(--size-xxl);
	min-width: 25%;
	padding-top: var(--size-l);
}

@media screen and (min-width: 60rem) {
	.metadata {
		border: none;
		margin-top: calc(var(--size-l) - var(--size-m));
		padding-top: 0;
	}
}

.metadata p {
	margin-top: 0;
}

.metadata h2 {
	font-size: 1em;
	margin-top: var(--size-xl);
}

.metadata .icon {
	align-self: center;
}

.metadata .icon img {
	margin-top: 0;
}

.metadata ul {
	padding-left: 0rem;
	list-style-position: inside;
}

.tags li {
	margin-top: 0;
	list-style: none;
}

.metadata hr {
	margin-top: var(--size-xxl);
}

/* Footer */

.site_footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: auto;
	padding: calc(var(--size-xxl) * 2) var(--size-m) var(--size-m);
}

#footermenu {
	display: flex;
	flex-direction: row;
	margin: 0 0 var(--size-m) 0;
	padding: 0;
}

#footermenu li {
	list-style-type: none;
	margin: 0 var(--size-xs) 0 0;
}
