.postPreview {
	justify-content: flex-end;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
	transition: all 0.5s ease-out;
}

.list .postPreview {
	display: grid;
	grid-template-columns: 1fr;
}

@media screen and (min-width: 40rem) {
	.list .postPreview {
		grid-template-columns: 1fr 3fr;
	}
}

.postPreview a::before {
	content: none;
}

.postPreview:hover,
.postPreview:focus-within {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	transform: scale(1.05) !important;
}

.postPreview a:focus {
	text-decoration: underline;
}

.postPreview:focus-within a:focus {
	text-decoration: none;
}

.postPreview_featuredImage {
	height: 100%;
	filter: grayscale(1);
	order: -1;
	transition: all 0.5s ease-out;
}

.postPreview:hover .postPreview_featuredImage,
.postPreview:focus-within .postPreview_featuredImage {
	filter: grayscale(0);
}

.grid .postPreview_featuredImage {
	clip-path: polygon(0 0, 100% 0, 100% calc(100% + -1.5rem), 0 100%);
}

.list .postPreview_featuredImage {
	display: none;
}

@media screen and (min-width: 40rem) {
	.list .postPreview_featuredImage {
		display: block;
	}
}

.postPreview_featuredImage .container {
	height: 100%;
}

.postPreview_featuredImage img,
.postPreview_featuredImage picture {
	height: 100%;
	margin-top: 0;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.postPreview_container {
	margin: var(--size-l);
}

.postPreview_title {
	margin: 0;
}

.postPreview_link {
	color: var(--color-text);
	position: static;
	text-decoration: none;
}

.postPreview_link::before {
	background-color: #fff;
	transform: none;
}

.postPreview_link::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.postPreview_metadata {
	display: flex;
	flex-direction: column;
	font-size: var(--size-s);
}

.postPreview_metadata p {
	margin-top: var(--size-xxs);
}

.postPreview_metadata ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: var(--size-xxs) 0 0 0;
	padding: 0;
}

.postPreview_metadata .postPreview_tag {
	background-color: var(--color-gray-light);
	margin: 0 var(--size-xxs) var(--size-xxs) 0;
	list-style: none;
	padding: 0 var(--size-xxs);
}

.postPreview_metadata .postPreview_tag.lang,
.postPreview_metadata .postPreview_tag.bookmarks {
	background-color: var(--color-gray-dark);
	color: var(--color-gray-lighter);
}

.postPreview_metadata .postPreview_tag.posts {
	background-color: var(--color-primary);
	color: var(--color-gray-lighter);
}

.postPreview_metadata .postPreview_tag.projects {
	background-color: var(--color-secondary);
}

.postPreview_metadata li:first-of-type {
	margin-left: 0;
}

.postPreview_excerpt {
	font-size: var(--size-m);
	margin-top: var(--size-s);
}

.postPreview_excerpt a {
	text-decoration: none;
}

.hidden {
	display: none;
}
