<!doctype html>
<html lang="{{ page.lang }}" dir="{{ dir }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% if templateClass !== "home" %}{{ title or tag }} | {% endif %}{{ metadata.title }}</title>
		<meta name="description" content="{{ description | removeMarkdown or metadata.description[page.lang] }}">
		
		{#- Webmentions #}
		<link rel="me" href="https://github.com/stebrech" />
		<link rel="webmention" href="https://webmention.io/stebre.ch/webmention" />

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="{% if page.lang === "en" %}/en{% endif %}/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="{% if page.lang === "en" %}/en{% endif %}/feed_projects.xml" type="application/atom+xml" title="{{ i18n.mainnav.projects[page.lang] }} | {{ metadata.title }}">
		<link rel="alternate" href="{% if page.lang === "en" %}/en{% endif %}/feed_posts.xml" type="application/atom+xml" title="{{ i18n.mainnav.blog[page.lang] }} | {{ metadata.title }}">
		<link rel="alternate" href="{% if page.lang === "en" %}/en{% endif %}/feed_bookmarks.xml" type="application/atom+xml" title="{{ i18n.mainnav.bookmarks[page.lang] }} | {{ metadata.title }}">

		{#- Stylesheets #}
		<style>{% include "../styles/reset.css" %}</style>
		<style>{% include "../styles/accessibility.css" %}</style>
		<style>{% include "../styles/layout.css" %}</style>
		<style>{% include "../styles/elements.css" %}</style>
		{% if templateClass === "home" or templateClass === "postlist" or templateClass === "taglist" %}
		<style>{% include "../styles/post_preview.css" %}</style>
		{% endif %}
		{% if templateClass === "linktipps" %}
		<style>{% include "../styles/linktipps.css" %}</style>
		{% endif %}
		{% if templateClass === "home" %}
		<style>{% include "../styles/home.css" %}</style>
		{% endif %}
		<style>{% include "node_modules/animate.css/animate.min.css" %}</style>
		<style>{% getBundle "css" %}</style>

		<link rel="stylesheet" href="/pagefind/pagefind-ui.css">		

		{#- Scripts #}
		<script>{% include "node_modules/body-scroll-lock-upgrade/lib/index.umd.js" %}</script>
		<script>{% include "../js/menu.js" %}</script>
		<script>{% include "../js/animateInViewport.js" %}</script>
		<script>{% include "../js/search.js" %}</script>
		<script>{% include "../js/figureGallery.js" %}</script>
		<script src="{% getBundleFileUrl 'js' %}" defer></script>

		<script src="/pagefind/pagefind-ui.js"></script>
		<script>
			window.addEventListener('DOMContentLoaded', (event) => {
				new PagefindUI({ element: "#search", showSubResults: true });
			});
		</script>


		{#- Favicons #}
		{% include "includes/favicon.njk" %}

		{#- Open Graph #}
		{% include "includes/og.njk" %}

		{#- Love for 11ty #}
		<meta name="generator" content="{{ eleventy.generator }}">

	</head>
	<body class="{% if templateClass %}{{ templateClass }}{% endif %}">
		<div class="site">
			<a href="#primary" class="skip_link screen-reader-text">{{ i18n.skiplink[page.lang] }}</a>

			<header class="site_header topnav wrapper" role="banner">
				<div class="left">
					{% include "includes/nav_main.njk" %}
				</div>
				<div class="right">
						{% include "includes/lang_switcher.njk" %}
					<button id="search-icon" aria-label="Search">
						{% include "img/search.svg" %}
					</button>
				</div>
			</header>

			<main id="primary" class="site_main">
				<div id="search-container" class="containerM screen-reader-text" aria-hidden="true">
					<div id="search"></div>
					<div id="search-close-container">
						<button id="search-close" aria-label="Schliessen">{{ i18n.search.close[page.lang] }}</button>
					</div>
				</div>
				{{ content | safe }}
			</main>
			{% include "includes/footer.njk" %}
		</div>
	</body>
</html>


