---
layout: layouts/base.njk
templateClass: bookmark
---
<article data-pagefind-body>
	<div class="headerShadow">
		<header class="headerPost">
			<div class="containerM">
				<h1 class="title"{% if (page.lang !== "en") and (post.data.lang === "en") %} lang="en"{% endif %}>
					{{ title }}
				</h1>
					<div class="featuredImage">
						{% if ogImgUrl %}
						<img src="{{ ogImgUrl }}" alt="">
						{% else %}
						<img src="../../assets/{{ featuredImage }}" alt="">
						{% endif %}
				</div>
			</div>
		</header>
	</div>
	<div class="containerL">
		<div class="contentContainer">
			<div class="content"{% if (page.lang !== "en") and (post.data.lang === "en") %} lang="en"{% endif %}>
				{% if description %}
					<div class="lead">
						{{ description | markdown | safe }}
					</div>
				{% endif %}
				{{ content | safe }}
				{% if weblink and postType === "bookmarks" %}
					<p class="bm weblink"><a href={{ weblink }}>{{ i18n.article.metadata.visit[page.lang] }} {{ domain }}</a></p>
				{% endif %}
			</div>
			<footer class="metadata">
				<p>{{ i18n.article.metadata.publishDate[page.lang] }} <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>
				{% if author %}<p>{{ i18n.article.metadata.author[page.lang] }} {{ author }}</p>{% endif %}

					<h2>Tags</h2>
					<ul class="tags">
						{%- for tag in tags | excludeTagsFromTagList %}
							{%- set tagUrl %}{% if page.lang === "en" %}/en{% endif %}/tags/{{ tag | slugify }}/{% endset %}
							<li><a href="{{ tagUrl }}" class="post-tag">{{ tag | deleteFirstCharacter }}</a></li>
						{%- endfor %}
					</ul>
				{# Available languages #}
				{% include "../includes/sidebar/bookmark_languages.njk" %}
				{# Newsletter form | DE ONLY #}
				{% include "../includes/sidebar/newsletter_form.njk" %}
				{# Feed Links #}
				{% include "../includes/sidebar/feed_links.njk" %}
			</footer>
		</div>
	</div>
</article>
