<hr>
<h2>{{ i18n.article.metadata.subscribe2feed[page.lang] }}</h2>
<ul>
	<li><a href="{{ i18n.article.metadata.subscribe2feed.all.url[page.lang] }}">{{ i18n.article.metadata.subscribe2feed.all[page.lang] }}</a></li>
	<li><a href="{{ i18n.article.metadata.subscribe2feed.blog.url[page.lang] }}">{{ i18n.article.metadata.subscribe2feed.blog[page.lang] }}</a></li>
	<li><a href="{{ i18n.article.metadata.subscribe2feed.projects.url[page.lang] }}">{{ i18n.article.metadata.subscribe2feed.projects[page.lang] }}</a></li>
	<li><a href="{{ i18n.article.metadata.subscribe2feed.bookmarks.url[page.lang] }}">{{ i18n.article.metadata.subscribe2feed.bookmarks[page.lang] }}</a></li>
</ul>