<form
	action="https://buttondown.email/api/emails/embed-subscribe/stebre"
	method="post"
	target="popupwindow"
	onsubmit="window.open('https://buttondown.email/stebre', 'popupwindow')"
	class="newsletter"
>
	<label for="name">Dein Name</label>
	<input type="text" name="metadata__name" id="name" />
	<label for="bd-email">Deine E-Mailadresse</label>
	<input type="email" name="email" id="bd-email" />
	<input type="submit" value="Newsletter abonnieren" />
</form>
