	<nav id="pagination">
		<ol>
		{%- for pageEntry in pagination.pages %}
			<li class="nav-item"><a href="{{ pagination.hrefs[ loop.index0 ] }}" class="post-navigation"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
		{%- endfor %}
		</ol>
	</nav>