---
title: Alle Blogbeiträge
layout: base.njk
templateClass: blog
eleventyNavigation:
  key: "Blog"
  order: "2"
sitemapPriority: 1.0
---
<header class="header containerL">
  <h1 class="title">Alle Blogbeiträge</h1>
</header>

<section class="filter containerL">
	<h2 class="sectionTitle">Nach einem Schlagwort filtern</h2>
	<ul class="tagList">
		{% for tag in collections.posts | getAllTags | sortTagList | excludeTagsFromTagList %}
		{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
			<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
		{% endfor %}
	</ul>
</section>

<section class="results containerL">
  <div class="grid">
		{% set results = collections.posts | reverse %}
		{% include "partials/preview.njk" %}
	</div>
</section>