:root {
	--border-radius: 4px;
	--color-gray-lighter: #ecf0f1;
	--color-gray-light: #ced4da;
	--color-gray: #838f9c;
	--color-gray-dark: #586069;
	--color-text: #2b3d4f;
	--color-primary-light-alt: #0dd1ac;
	--color-primary: #0288d1;
	--color-primary-dark: #0277bd;
	--color-primary-dark-alt: #0d25d1;
	--color-secondary-light: #fdd835;
	--color-secondary: #f9a825;
	--color-secondary-dark: #d1a717;
	--color-secondary-darker: #d14a17;
	--font-sans: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
		sans-serif;
	--font-mono: "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
	--size-xxl: 1.75rem;
	--size-xl: 1.5rem;
	--size-l: 1.25rem;
	--size-m: 1rem;
	--size-s: 0.75rem;
	--size-xs: 0.5rem;
	--size-xxs: 0.25rem;
	--line-height-loose: 1.75;
	--line-height-normal: 1.5;
	--line-height-dense: 1.2;
}

@font-face {
	font-family: "Fira Sans";
	src:
		local("Fira Sans Regular"),
		local("FiraSans-Regular"),
		url("/assets/fonts/FiraSans-Regular.woff2") format("woff2"),
		url("/assets/fonts/FiraSans-Regular.woff") format("woff"),
		url("/assets/fonts/FiraSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Fira Sans";
	src:
		local("Fira Sans Italic"),
		local("FiraSans-Italic"),
		url("/assets/fonts/FiraSans-Italic.woff2") format("woff2"),
		url("/assets/fonts/FiraSans-Italic.woff") format("woff"),
		url("/assets/fonts/FiraSans-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Fira Sans";
	src:
		local("Fira Sans Bold"),
		local("FiraSans-Bold"),
		url("/assets/fonts/FiraSans-Bold.woff2") format("woff2"),
		url("/assets/fonts/FiraSans-Bold.woff") format("woff"),
		url("/assets/fonts/FiraSans-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Fira Sans";
	src:
		local("Fira Sans Bold Italic"),
		local("FiraSans-BoldItalic"),
		url("/assets/fonts/FiraSans-BoldItalic.woff2") format("woff2"),
		url("/assets/fonts/FiraSans-BoldItalic.woff") format("woff"),
		url("/assets/fonts/FiraSans-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Fira Code";
	src:
		local("Fira Code Regular"),
		local("FiraCode-Regular"),
		url("/assets/fonts/FiraCode-Regular.woff2") format("woff2"),
		url("/assets/fonts/FiraCode-Regular.woff") format("woff"),
		url("/assets/fonts/FiraCode-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Fira Code";
	src:
		local("Fira Code Bold"),
		local("FiraCode-Bold"),
		url("/assets/fonts/FiraCode-Bold.woff2") format("woff2"),
		url("/assets/fonts/FiraCode-Bold.woff") format("woff"),
		url("/assets/fonts/FiraCode-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

html {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	font: sans-serif;
	font-size: 16px;
	line-height: var(--line-height-normal);
	overflow-y: scroll;
	scroll-behavior: smooth;
}

@media screen and (min-width: 60rem) {
	html {
		font-size: 18px;
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: var(--color-gray-lighter);
	color: var(--color-text);
	font-family: sans-serif;
	font-family: var(--font-sans);
	font-weight: var(--font-weight-normal);
	margin: 0;
	word-wrap: break-word;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Header */

.site_header {
	align-items: center;
	background-color: var(--color-primary-dark);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	display: flex;
	height: 4rem;
	justify-content: space-between;
	margin: 0 auto;
	padding: var(--size-m);
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#mainnav ul {
	display: flex;
	flex-direction: row;
	margin: 0;
}

#mainnav li {
	list-style-type: none;
	margin: 0 var(--size-xs) 0 0;
}

#mainnav a {
	line-height: var(--line-height-dense);
}

#mainnav li:not(.logo) a {
	background-color: #fff;
	border-radius: var(--border-radius);
	color: var(--color-primary-dark);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	padding: var(--size-s);
}

#mainnav li:not(.logo) a:hover {
	border-color: transparent;
	color: var(--color-text);
}

#mainnav li.nav-item-active a {
	background-color: var(--color-secondary);
	color: var(--color-text);
}

#mainnav li:not(.logo) a::before {
	background: var(--color-secondary);
	background: linear-gradient(90deg, var(--color-secondary) 0%, var(--color-secondary-light) 100%);
	border-radius: var(--border-radius);
	content: "";
	display: inline-block;
	height: 0;
	left: 0;
	position: absolute;
	transition: all 0.2s ease;
	top: 100%;
	width: 100%;
	z-index: -1;
}

#mainnav a:not(:focus)::before {
	height: 0;
}

#mainnav li:not(.logo) a:hover:before {
	height: 100%;
	top: 0%;
}

#mainnav .logo {
	font-size: 0;
}

#mainnav .logo a {
	border-radius: 50%;
	padding: 0;
	margin-right: 0.5rem;
}

#mainnav .logo img {
	background-color: transparent;
	border-radius: 50%;
	height: 2.7rem;
	margin-top: 0;
	width: 2.7rem;
}

#mainnav .logo img:not(:hover) {
	filter: brightness(100);
}

/* Search form */
body {
	--pagefind-ui-scale: 1;
	--pagefind-ui-primary: var(--color-secondary);
	--pagefind-ui-text: var(--color-text);
	--pagefind-ui-background: #fff;
	--pagefind-ui-border: var(--color-gray-light);
	--pagefind-ui-tag: var(--color-gray-dark);
	--pagefind-ui-border-width: 1px;
	--pagefind-ui-border-radius: var(--border-radius);
	--pagefind-ui-image-border-radius: var(--border-radius);
	--pagefind-ui-image-box-ratio: 3 / 2;
	--pagefind-ui-font: var(--font-sans);
}

#search-icon {
	background-color: transparent;
	border: none;
	padding-right: 0;
}

#search-icon img {
	margin: 0;
}

#search-container {
	background-color: transparent;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr fit-content(12ch);
	margin: 3rem auto;
}

#search {
	font-family: var(--font-sans);
}

#search .pagefind-ui__form::before,
#search .pagefind-ui__search-clear {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	justify-content: center;
	z-index: 99;
}

#search .pagefind-ui__form::before {
	background-color: transparent;
	content: url(/assets/img/search_dark.svg);
	height: 3rem;
	mask: none;
	position: absolute;
	top: 0;
}

#search .pagefind-ui__search-clear {
	height: 2.8rem;
	padding: var(--size-s);
}

#search-close-container {
	margin-top: 0.2rem;
}

#search-close {
	padding: var(--size-xs) var(--size-s);
	white-space: nowrap;
}

#search .pagefind-ui__search-input {
	height: 3rem;
}

#search .pagefind-ui__result-thumb {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 0;
}

#search .pagefind-ui__result-thumb img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

#search .pagefind-ui__result-inner {
	margin-top: 0;
}

#search .pagefind-ui__result {
	padding: calc(20px * var(--pagefind-ui-scale)) 0 calc(20px * var(--pagefind-ui-scale));
}

#search .pagefind-ui__button {
	background-color: var(--color-secondary);
	color: var(--color-text);
	font-size: 1rem;
	height: 3rem;
	line-height: var(--line-height-normal);
}

/* Layout classes */

.grid {
	display: grid;
	margin: 0;
	/* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
	--w: 30ch;
	--n: 3;
	gap: var(--size-xxl);
	grid-template-columns: repeat(auto-fill, minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr));
	margin-bottom: var(--size-xxl);
	margin-top: var(--size-xxl);
}

.containerM {
	margin: 0 auto;
	max-width: 60rem;
	padding: var(--size-l);
}

.containerL {
	margin: 0 auto;
	max-width: 75rem;
	padding: var(--size-l);
}

/* Home, Blog, Tags, ... */

#primary {
	padding-top: 4rem;
}

@media screen and (min-width: 60rem) {
	.header .title {
		margin-top: 3rem;
	}
}

.header + .filter h2,
.header + .results h2,
.header + .hidden + .results h2 {
	margin-top: 0;
}

.tagList {
	display: flex;
	flex-wrap: wrap;
}

.tagList li {
	list-style-type: none;
	margin-right: var(--size-m);
}

/* Post, Page */

.headerShadow {
	filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.2));
}

.headerShadow .containerL {
	padding-bottom: 4rem;
}

.headerPost {
	background-color: var(--color-primary);
	background-size: cover;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% + -4vw), 0 100%);
}

.headerPost .title {
	color: #fff;
}

@media screen and (min-width: 60rem) {
	.headerPost .title {
		margin-top: 2rem;
	}
}

.featuredImage {
	margin-top: var(--size-xxl);
	margin-bottom: -1.25rem;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: var(--size-xxl);
}

@media screen and (min-width: 60rem) {
	.contentContainer > .content {
		font-size: var(--size-l);
	}
}

@media screen and (min-width: 60rem) {
	.contentContainer {
		flex-direction: row;
	}

	.contentContainer > .content {
		margin-right: var(--size-m);
		max-width: 70ch;
	}
}

.contentContainer > .content > :first-child {
	margin-top: 0;
}

.metadata {
	border-top: 1px solid var(--color-gray);
	margin-top: var(--size-xxl);
	min-width: 25%;
	padding-top: var(--size-l);
}

@media screen and (min-width: 60rem) {
	.metadata {
		border: none;
		margin-top: calc(var(--size-l) - var(--size-m));
		margin-left: calc(2 * var(--size-xxl));
		padding-top: 0;
	}
}

.metadata p {
	margin-top: 0;
}

.metadata h2 {
	font-size: 1em;
	margin-top: var(--size-xl);
}

.weblink {
	margin-left: -1.5em;
}

.metadata .icon {
	align-self: center;
}

.metadata .icon img {
	margin-top: 0;
}

p.weblink {
	margin-top: var(--size-m);
}

.metadata li {
	list-style-type: none;
}

.metadata li::marker {
	font-size: 2em;
	line-height: 0;
}

.weblink li {
	list-style-image: url(/assets/img/link.svg);
}

.tags li {
	list-style-image: url(/assets/img/tag.svg);
	margin-top: 0;
}

/* Footer */

.site_footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: auto;
	padding: calc(var(--size-xxl) * 2) var(--size-m) var(--size-m);
}

#footermenu {
	display: flex;
	flex-direction: row;
	margin: 0 0 var(--size-m) 0;
	padding: 0;
}

#footermenu li {
	list-style-type: none;
	margin: 0 var(--size-xs) 0 0;
}
