<ul id="lang-switcher">
	<li class="lang-switch current">
		<a href="{{ page.url }}" lang="{{ page.lang }}" hreflang="{{ page.lang }}">
			{{ page.lang | upper }}
		</a>
	</li>

	{% if '/tags' not in page.url and postType !== "bookmarks" %} {# Workaround https://github.com/11ty/eleventy/issues/3555 #}
	{% for link in page.url | locale_links %}
		<li class="lang-switch">
			<a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
				{{ link.lang | upper }}
			</a>
		</li>
	{% endfor %}
	{% elif page.lang === "en" %}
		<li class="lang-switch">
			<a href="/" lang="de" hreflang="de">DE</a>
		</li>
	{% else %}
		<li class="lang-switch">
			<a href="/en" lang="en" hreflang="en">EN</a>
		</li>
	{% endif %}

</ul>